.entry{

	float:left;
	clear:both;
	margin: 5px 0;
}

.roundDef{

	float:left;
	width:33%;
}

.worldList{
	float: left;
	width: 12%;
}
.levelList{
	float: left;
	width: 12%;
}
.roundList{
	float: left;
	width: 76%;
}
.roundList h1{
	text-align: center;
}

.wrapper{
	min-height: 300px;
	width: 100%;
	clear: both;
}

li{
	font-size: 20px;
	margin: 5px 0;
}

.roundElement{
	width: 25%;
	float: left;
}

.roundElement input, .roundElement select, textarea{
	display:block;
	clear: right;	
	margin: 20px 0;
}

.roundElement span{
	display: block;
	float: left;
	margin: 0 20px 20px 0;
}

.condition-block{
	width: 100%;
	clear:both;
	float:left;
}
.condition-block div{
	float: right;
	width: 50%;
	margin-top: 10px;
}
.condition-block input, .condition-block select{
	margin: 5px 5px;
	clear: none;
	width: 40%;
	float: left;
}
