<html>

<head>
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
	<script src="js/knockout.min.js" ></script>
	<script src="js/knockout.mapping.js" ></script>
	<script src="js/jquery.js" ></script>
</head>


<body>
	<div class="wrapper">
		<div class="worldList">
			<h1>List of worlds</h1>
			<div><input type="text" data-bind="value:currentWorldName" /><button data-bind="click:addWorld">Add World</button></div>
			<ul data-bind="foreach: worldList">
				<li><a data-bind="text: name, click: $root.selectWorld, attr:{href:'#'}"></a></li>
			</ul>
		</div>
		
		<div class="levelList">
			<h1 data-bind="text: currentWorld().name"></h1>
			<div data-bind="visible:currentLevel()">Max Time (seconds) <input type="text" data-bind="value:currentLevel().maxTime" /></div><br/>
			<div data-bind="visible:currentLevel()">Game Type <input type="text" data-bind="value:currentLevel().gameType" /></div><br/>
			<div data-bind="visible:currentWorld()"><button data-bind="click:addLevel">Add Level</button></div>
			<ul data-bind="foreach: currentWorld().levels">
				<li><a data-bind="text: name, click: $root.selectLevel" href=""></a></li>
			</ul>
		</div>
		
		<div class="roundList">
			<h1 data-bind="text: currentLevel().name"></h1>
			<div><button data-bind="click:addRound, visible: currentLevel()">Add Round</button></div>
			<div data-bind="foreach: currentLevel().roundList"> 
				<div class="roundElement"> 

					<h2 data-bind="text:'Round ' + ($index()+1)"></h2>
					<span>targets</span>
					<input type="text" data-bind="value:targets" />

					<span>simultaneous</span>
					<input type="text" data-bind="value:simultaneous" />

					<span>startTime</span>
					<input type="text" data-bind="value:startTime" />


					<span>forever</span>
					<select type="text" data-bind="value:forever" />
						<option value="true">true</option>
						<option value="false" selected="selected">false</option>
					</select>

					<span>interpolate</span>
					<select type="text" data-bind="value:interpolate" />
						<option value="true">true</option>
						<option value="false" selected="selected">false</option>
					</select>

					<span>gravity</span>
					<select type="text" data-bind="value:gravity" />
						<option value="true">true</option>
						<option value="false" selected="selected">false</option>
					</select>
					
					<div class="condition-block">
						<span>entityConditions</span>
						<a href="#" data-bind="click:function(){$root.addNewCondition(entityConditions)}">New</a>
						<div data-bind="foreach: entityConditions">
							<select data-bind="options: $root.entityConditions, value:key"></select>
							<input type="text" data-bind="value:value" />
						</div>
					</div>
					
					<div class="condition-block">
						<span>nextConditions</span>
						<a href="#" data-bind="click:function(){$root.addNewCondition(nextConditions)}">New</a>
						<div data-bind="foreach: nextConditions">
							<select data-bind="options: $root.nextConditions, value:key"></select>
							<input type="text" data-bind="value:value" />
							<span>X</span>
						</div>
					</div>
					
					<div class="condition-block">
						<span>actions</span>
						<a href="#" data-bind="click:function(){$root.addNewCondition(actions)}">New</a>
						<div data-bind="foreach: actions">
							<select data-bind="options: $root.actions, value:key"></select>
							<input type="text" data-bind="value:value" />
						</div>
					</div>
					
					
					
					
					
					
					
				</div>
			</div>
		</div>
	</div>

	
	<button class="entry saveButton" >Save</button><br/><br/>
	<script src="js/model.js" ></script>
</body>
</html>
